header {
    display: flex;
    width: 100%;
    height: 100px;
    /* position: fixed; */
    background-color:#F15F5D;
    align-items: center;
  }
   
  .title {
    color:white;
    margin-left:40px;
    margin-right:auto;
    float: left;
  }
   
a{
  text-decoration:none;
  color:white;
}
  .menu-item {
    list-style: none;
    font-size:25px;
    float: left;
    margin:10px 60px 10px 10px;
  }
  
body{
  max-width:1280px;
  margin:0px;
  padding:0px;
  text-align:center;
}

.record-information{
  background-color: blanchedalmond;
  padding-top:20px;
}

.labe-name{
  font-size:20px;
}